@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 3rem;
}

.footer-home{
  background-color: black;
  color: white;
}

.footer-dashboard{
  background-color: white;
  color: black;
}

.footer-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.footer-link-home {
  text-decoration: none;
  font-weight: 600;
  transition: 0.35s;
  color: white;
}

.footer-link-home:hover {
  color: rgb(163, 163, 163);
}

.footer-link-dashboard {
  text-decoration: none;
  font-weight: 600;
  transition: 0.35s;
  color: black;
}

.footer-link-dashboard:hover {
  color: rgb(112, 112, 112);
}

.show{
  display: block;
}

.hide{
  display: none;
}