@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(200px + 1vw);
  margin-bottom: calc(50px + 1vw);
}

.first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(50% + 2vw);
}

.home-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: calc(24px + 2vw);
  text-align: center;
  padding: 0;
  margin: 0;
}

.home-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  width: 50%;
}

.home-button {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 16px;
  border: 1px solid black;
  background-color: black;
  padding: 7.5px 12.5px;
  cursor: pointer;
}

.home-button:hover {
  color: black;
  background-color: white;
}

.home-button-2 {
  color: black;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid white;
  background-color: white;
  padding: 7.5px 12.5px;
  cursor: pointer;
}

.home-button-2:hover {
  color: white;
  background-color: black;
}

.home-container2 {
  /* height: 40vh; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px 0px 20px 0px;
}

.home-container3 {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-image-first {
  padding-top: 5vh;
  width: 60vw;
  max-width: 1000px;
}

img {
  pointer-events: none;
  z-index: 3;
}

.home-content {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  color: white;
  gap: 20px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.star {
  filter: invert(1);
}

.separator {
  margin-top: 1.125vh;
  height: 25vh;
  border: 1px solid white;
}

.brands {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.brand {
  height: 4vh;
}

.brand-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  justify-items: stretch;
}

.lg1 {
  height: 8vh;
}

.secondary-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75%;
  max-width: 800px;
  height: 100%;
  gap: 75px;
  padding: 5% 0%;
}

.secondary-content2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 75%;
  height: 100%;
  gap: 75px;
  padding: 5% 0%;
}

.secondary-content-texts {
  width: 50%;
}

.secondary-image {
  width: 30%;
}

.secondary-tag {
  padding: 2px;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.secondary-title {
  padding: 2px;
  margin: 0;
  font-weight: bold;
  font-size: 28px;
}

.secondary-text {
  padding: 2px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}

.home-container4 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5%;
}

.home-container4-child{

}

@media only screen and (max-width: 1250px) {
  .first-part {
    width: 75%;
  }

  .home-text {
    width: 90%;
    font-size: calc(10px + 1vw);
  }
}

@media only screen and (max-width: 600px) {
  .home-container {
    height: calc(100vh);
    margin: 0;
    background: url("./assets/background.png");
    background-position: right -20px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home-text {
    width: 90%;
    font-size: calc(8px + 2vw);
  }

  .home-image-first {
    display: none;
  }

  .home-button {
    margin-top: 100px;
    font-size: 20px;
  }

  .home-content {
    display: flex;
    flex-direction: column;
  }

  .home-container2{
    padding: 50px 0px;
  }

  .separator {
    margin-top: 1.125vh;
    height: 0;
    width: 100%;
    border: 1px solid white;
  }

  .secondary-content {
    flex-direction: column;
    width: 100%;
  }

  .secondary-content2{
    flex-direction: column-reverse;
    width: 100%;
  }

  .secondary-content-texts {
    width: 75%;
  }

  .secondary-image{
    width: 75%;
  }

  .home-container4{
    text-align: center;
    padding: 10%;
    padding-bottom: 20%;
  }
  
  .home-container4-child{
    width: 75%;

  }
}
